<%= form_for @user do |f| %>
    <div><%= f.label :name %></div>
    <div><%= f.text_field :name, placeholder:'Enter Username' %></div>
    <div><%= f.label :email %></div>
    <div><%= f.text_field :email, placeholder:'youremail@example.com' %></div>
    <div><%= f.label :password %></div>
    <div><%= f.password_field :password %></div>
    <div><%= f.label :password_confirmation %></div>
    <div><%= f.password_field :password_confirmation %></div>
    <%= f.submit "Sign Up" %>
<% end %>
    