<h2><%=@organisation.name%></h2>
<h3>Shifts</h3>

<table class="table">
    <tr>
        <th>Employee Name</th>
        <th>Shift Date</th>
        <th>Start Time</th>
        <th>Finish Time</th>
        <th>Break Length (minutes)</th>
        <th>Hours Worked</th>
        <th>Shift Cost</th>
        <th>Sunday Bonus</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <% if !@shifts.empty? %>
        <% @shifts.each do |shift| %>
            <tr>
                <td><%=shift.user.name%></td>
                <td><%=shift.date %></td>
                <td><%=shift.start_time %></td>
                <td><%=shift.finish_time %></td>
                <td><%=shift.break_length %></td>
                <td><%= shift.hours_worked %></td>
                <td>$<%=shift.shift_cost(@organisation.hourly_rate) %></td>
                <td>$<%=shift.sunday_bonus(@organisation.hourly_rate) %></td>
                <td><%= link_to "Edit", edit_user_shift_path(shift.user,shift) %></td>
                <td><%= link_to "Delete", [shift.user,shift], method:"DELETE" %></td>
            </tr>
        <% end %>
    <% end %>
</table>

<% if @shift.errors.any? %>
    <% @shift.errors.full_messages.each do |msg| %>
        <div class = 'alert alert-danger'>
            <%= msg %>
        </div>
    <% end %>
<% end %>

<h3> Add A New Shift </h3>
<%= render partial:'form', locals:{submit_text:'Create Shift'} %>
